version = 0.1

# === 共通設定 ===
[global.parameters]
stack_name = "samplefastapi-app-local"

[build.parameters]
debug = true
parallel = true
use_container=true

[validate.parameters]
lint = true

[package.parameters]
resolve_s3 = true

[sync.parameters]
watch = true

[local_start_api.parameters]
warm_containers = "EAGER"

[local_start_lambda.parameters]
warm_containers = "EAGER"

# === 開発環境 ===
# sam deploy --config-env devel
[devel.deploy.parameters]
stack_name = "samplefastapi-app-devel"
region = "ap-northeast-1"
capabilities = ["CAPABILITY_NAMED_IAM"]
confirm_changeset = false
resolve_s3 = true
s3_prefix = "samplefastapi-app-devel"
parameter_overrides = "Environment=devel ExistingUserPoolId=ap-northeast-1_mEDAZ9b89"

# === ステージング環境（未使用） ===
# sam deploy --config-env staging
#[staging.deploy.parameters]
#stack_name = "samplefastapi-app-staging"
#region = "ap-northeast-1"
#capabilities = ["CAPABILITY_NAMED_IAM"]
#confirm_changeset = true
#resolve_s3 = true
#s3_prefix = "fastapi-app/staging"
#parameter_overrides = '''
#Environment=staging
#ExistingUserPoolId=ap-northeast-1_STAGINGPOOLID
#'''

# === 本番環境（未使用） ===
# sam deploy --config-env prod
#[prod.deploy.parameters]
#stack_name = "samplefastapi-app-prod"
#region = "ap-northeast-1"
#capabilities = ["CAPABILITY_NAMED_IAM"]
#confirm_changeset = true
#resolve_s3 = true
#s3_prefix = "fastapi-app/prod"
#parameter_overrides = '''
#Environment=prod
#ExistingUserPoolId=ap-northeast-1_PRODPOOLID
#'''

# === スタック削除コマンドの例 ===
# sam delete --stack-name samplefastapi-app-devel --region ap-northeast-1
image_repositories = []
